<ion-view view-title="Configurações" hide-back-button="false" >
  <!--<ion-nav-title>
    <div>
      <img alt="logo" class="title-image bar-avatar" align="left" height="43px" src="{{picture}}">
    </div>
    <div><i style="margin-left: 10px">Configurações</i></div>
  </ion-nav-title>-->
    <ion-content class="card-background-page has-header padding" style="background-color: #ededed">

        <div class="card">
          <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
            Camera
          </div>
          <ion-toggle name="multiplos" toggle-class="toggle-DoaNota" ng-true-value="1" ng-false-value="0" ng-model="config.multiplos" ng-change="configChange()">
              Enviar Múltiplos Cupons
          </ion-toggle>
          <ion-toggle name="cameraIniciar" toggle-class="toggle-DoaNota" ng-true-value="1" ng-false-value="0" ng-model="config.cameraIniciar" ng-change="configChange()">
              Abre Camera ao Iniciar
          </ion-toggle>
        </div>

        <div class="card">
          <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
            Alteração de Senha
          </div>
          <div class="list" style="margin-left: 10px">
              <ion-md-input class="item-md-labelDoaNota" placeholder="Nova Senha" highlight-color="energized" type="password" ng-model="config.novaSenha"></ion-md-input>
              <div>
                <button ng-click="doChangePassword()" class="button button-config ink">Alterar Senha</button>
              </div>
          </div>
        </div>

    </ion-content>
</ion-view>
