<ion-view view-title="Doar Nota" ng-controller="DoaNotaCtrl" style="background-color: #ededed">
  <ion-nav-title style="text-align: center">
    <div>
      <i style="margin-left: -25px">{{appName}}</i>
      <i class="icon-left ion-android-share-alt" ng-click="doSharing()" style="float: right;margin-left: 20px;font-size: 120%"></i>
      <i class="icon-left ion-trophy" ng-click="goRanking()" style="float: right;font-size: 120%"></i>
    </div>
  </ion-nav-title>

  <ion-floating-menu menu-color="#E19C4C" menu-open-color="#E19C4C" menu-icon="ion-camera">
    <ion-floating-item button-color="#E19C4C" icon="ion-camera" click="takePicture()" text="Tirar Foto"></ion-floating-item>
    <ion-floating-item button-color="#E19C4C" icon="ion-qr-scanner" click="takeQRCode()" text="QR Code"></ion-floating-item>
  </ion-floating-menu>

  <ion-content ng-class="{expanded:$scope.isExpanded}" class="card-background-page has-header">
    <ion-refresher pulling-text="Deslize para atualizar..." on-refresh="doRefresh()">
    </ion-refresher>

    <a class="item item-icon-left" ng-if="controleDn.qtdCupons > 0" ng-click="showEntidadesTeste()">
      <i class="icon ion-alert-circled assertive"></i>
      Cupons pendentes de envio
      <span class="badge badge-assertive" ng-bind="controleDn.qtdCupons"></span>
    </a>
    <div style="padding-top: 7px">
      <div style="background-color: #ededed;" ng-repeat="cardItem in cardList | orderBy:'index' track by $index">
        <div class="list card">
          <div class="item item-body">
            <h3>{{cardItem.data | date:'dd/MM/yyyy H:mm:ss'}}</h3>
            <img ng-show="isNotFirstCard" ng-src="{{cardItem.logo}}" class="full-image" style="max-height: 220px">
              <p ng-show="isNotFirstCard">
                <a class="subdued icon ion-android-share" ng-click="cardShare(cardItem.logo, cardItem.entidade, cardItem.quantidade, cardItem.mensagem)">    Compartilhar</a>
                <a class="subdued icon ion-clock">    {{cardItem.quantidade}} cupom(s), {{cardItem.tempo}}</a>
              </p>
            <img ng-show="isNotFirstCard==false" ng-click="takePicture()" ng-src="{{cardItem.logo}}"  style="height: 220px;display: block; height:auto; width:85%; display: block; margin: auto;">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
