<ion-view view-title="Recuperar a Senha">
    <ion-content class="has-header" style="background-color: #ededed">
      <div class="padding">
        <div class="app-icon"></div>
      </div>
        <div class="padding text-center has-header">
          <p ui-sref="app.forgetPassword">Entre com o seu endereço de email que nós iremos enviar
          para você sua nova senha</p>
        </div>
        <div class="list padding-right">
            <ion-md-input class="item-md-labelDoaNota" placeholder="Email" highlight-color="energized" type="email" ng-model="forget.email" ng-init="forget.email=''"></ion-md-input>
        </div>
        <div class="padding">
            <button ng-click="doResetPwd()" class="button button-block button-doanota ink">Recuperar minha Senha</button>
        </div>
    </ion-content>
</ion-view>
