<ion-view view-title="Sobre" ng-controller="HelpCtrl" style="background-color: #ededed">

  <ion-content class="card-background-page has-header padding">
    <div class="card">
      <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
        {{appName}}
      </div>
    </div>

    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{group.name}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in group.items"
                  ng-show="isGroupShown(group)">

          <i ng-bind-html="getHtml(item)" ng-if="item >= 0 && item <=1">{{item}}</i>
          <i ng-if="item == 2"><strong>Pergunte à nós</strong>
            <div class="list padding-top">
              <label class="item item-input" style="border: 1px solid gray;border-radius: 12px">
                <input type="text" placeholder="Insira sua dúvida ou pergunta" ng-model="help.question">
              </label>
            </div>
            <div>
              <button class="button button-pergunta ink" ng-click="doSendQuestion()">
                Enviar
              </button>
            </div>
          </i>
          <i ng-bind-html="getHtml(item)" ng-if="item >= 3">{{item}}</i>
        </ion-item>

      </div>
    </ion-list>
    </ion-content>
  </ion-view>
