<ion-view view-title="Login" align-title="left" class="scroll-content-false">
  <!--<ion-content class="scroll-content-false" style="overflow: hidden;background-color: white">-->
  <ion-content style="background-color: #ededed">
    <div class="has-expanded-header">
        <div>
          <div class="app-icon"></div>
          <!--<h1 style="font-size:git c xx-large;font: bold;font-family:Lato">Doa Nota</h1>-->
        </div>
      </div>
      <div class="list">
        <ion-md-input id="email" class="item-md-labelDoaNota" placeholder="Email" highlight-color="energized" type="email" ng-model="login.email"></ion-md-input>
        <ion-md-input id="password" class="item-md-labelDoaNota"  placeholder="Senha" highlight-color="energized" type="password" ng-model="login.senha" ng-init="login.senha=''"></ion-md-input>
      </div>
      <div class="text-center">
        <button ng-click="doLogin()" class="button button-doanota ink">Log in</button>
        <p ui-sref="app.forgetPassword" style="font-size: medium;font: bold;color: #5f6f81;">Esqueceu Sua Senha?</p>


        <div>

          <button ng-click="facebookSignIn()" class="button button-block button-social button-stable">
            <i class="icon-left ion-social-facebook text-left"  style="color: #4060A5;margin-right: 35px"></i>
            Faça Login com Facebook</button>
          <button class="button button-block button-stable button-social" ng-click="googleSignIn()" ng-if="googleIsAvailable = true">
            <i class="icon-left ion-social-googleplus ink"  style="color: #e64522;margin-right: 30px"></i>
            Faça Login com Google</button>

          <p ui-sref="app.signup" style="font-size: medium;font: bold;color: #5f6f81;margin-top: 10px">Criar uma Nova Conta</p>


          <!--<button class="facebookBtn smGlobalBtn icon-left ion-social-facebook ink"
                  style="border-radius: 70px" ng-click="facebookSignIn()">
          </button>
          <button class="googleplusBtn smGlobalBtn icon-left ion-social-googleplus ink"
                  style="border-radius: 70px" ng-click="googleSignIn()" ng-if="googleIsAvailable = true"></button>
          <!--<button class="twitterBtn smGlobalBtn icon-left ion-social-twitter ink"
                  style="border-radius: 70px"></button>-->


        </div>
      </div>
    </ion-content>
    <!--</form>-->
</ion-view>
