<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-doanota" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear icon ion-navicon" menu-toggle="left" ng-show="$root.showMenuIcon">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!--<ion-nav-view name="fabContent"></ion-nav-view>-->
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="expanded">
      <!--<span class="item" style="background: url('img/logo-icone-parana.png'); background-size: 200px; background-repeat: no-repeat; background-color: white;"></span>-->
      <div class="profile">
        <span class="avatar" style="background: url('{{picture}}'); background-size: cover;"></span>
        <h2>{{name}}</h2>
        <!--<img class="profile-picture" src="{{user.picture}}">  -->
      </div>
    </ion-header-bar>
    <ion-content class="has-expanded-header" style="background-color:#ededed;">
      <ion-list>
        <ion-item ui-sref="app.profile" menu-toggle nav-clear style="font-weight:bold;font-size: medium">
          <i class="icon-left ion-person"></i>
            Perfil
        </ion-item>
        <ion-item menu-toggle nav-clear style="font-weight:bold;font-size: medium" ui-sref="app.ranking">
          <i class="icon-left ion-pie-graph" ></i>
          Ranking
        </ion-item>
        <ion-item ng-click="share()" menu-toggle nav-clear class="icon-left ion-ios-people" style="font-weight:bold;font-size: medium">
          Convidar
        </ion-item>
        <ion-item ui-sref="app.config" menu-toggle nav-clear style="font-weight:bold;font-size: medium">
          <i class="icon-left ion-ios-gear" ></i>
          Configurações
        </ion-item>
        <ion-item ui-sref="app.help" menu-toggle nav-clear style="font-weight:bold;font-size: medium">
          <i class="icon-left ion-help" ></i>
          Sobre
        </ion-item>
        <ion-item menu-close nav-clear style="font-weight:bold;font-size: medium" class="icon-left ion-log-out" ng-click="showLogOutMenu()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
