<ion-view view-title="Selecionar Entidade" style="background-color: #ededed">
  <ion-content class="card-background-page has-header padding-top">
    <ion-list>
      <div class="content">
        <!--<div class="card">
          <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
            Selecione a Entidade
          </div>
        </div>-->

        <div class="card" ng-repeat="ong in ongs">
          <div class="item item-text-wrap" style="height: 100%; width: 100%;padding: 10px;">
            <a class="item item-thumbnail-left" ng-click="marcaEntidade(ong.razao, ong.id_entidade, ong.logo)">
              <!--<a class="item item-thumbnail-left" ng-click="testeQr()">-->
              <img ng-src="{{ong.logo}}" class="no-padding-top" style="border-radius: 0%; top: 1px">
              <div style="width: 110%;margin-left: -8 px">
                <h3 style="overflow: hidden; ">{{ong.razao}}</h3>
                <h4>{{ong.causa}}</h4>
              </div>
            </a>
          </div>


        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
