<ion-view class="home-view">
  <ion-nav-title>
    <!--<span>Perfil - {{name}}</span>-->
    <span>Perfil</span>
  </ion-nav-title>-
  <ion-content class="padding" style="background-color: #ededed"  >

    <div id="content" style="padding-bottom:20px">
      <div id="profile-info">
        <img id="profile-image" ng-src="{{picture}}">
        <h3 id="profile-name">{{name}}</h3>
          <span id="profile-description">{{email}}</span>
          <p></p>
          <span style="margin-bottom: 10px">Conectado com {{loginMethod}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
