<ion-view view-title="Ranking">
  <ion-content class="card-background-page has-header padding" style="background-color: #ededed">
      <div class="card" >
        <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
          Seu ranking
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          Geral
          <div class="item">
            <h4>{{ranking.geral}}</h4>
            <h4>{{ranking.geralFalta}}</h4>
          </div>
        </div>
      </div>

      <div class="card">

        <div class="item item-text-wrap">
          Mensal
          <div class="item">
            <h4>{{ranking.mensal}}</h4>
            <h4>{{ranking.mensalFalta}}</h4>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="item item-text-wrap">
          Semanal
          <div class="item">
            <h4>{{ranking.semanal}}</h4>
            <h4>{{ranking.semanalFalta}}</h4>
          </div>

        </div>
      </div>

  </ion-content>
</ion-view>
