<ion-view view-title="Envio de Cupons">
  <ion-content class="card-background-page has-header padding">
    <ion-list>
      <div class="content" style="margin-bottom: 40px">
        <div class="item item-divider" style="background-color: #E19C4C;color: #fff" >
          <i>Doar para {{header.ongName}}</i>
          <span class="badge" style="margin-top: 10px" ng-bind="header.qtdCupons"></span>
        </div>
        <div class="list" ng-repeat="queue in queue">
          <a class="item item-icon-left" ng-click="showImage(queue.foto)">
            <i class="icon ion-document-text" ng-show="showPaperIcon(queue.status)"></i>
            <i class="icon ion-checkmark-circled balanced" ng-show="showCompletionIcon(queue.status)"></i>
            <i class="icon ion-close-circled assertive" ng-show="showErrorIcon(queue.status)"></i>
            <strong>{{queue.index}} - {{queue.data}} - {{queue.status}}</strong>
          </a>
          <ion-spinner class="spinnerDoaNota" ng-show="showLoadingIcon(queue.status)"></ion-spinner>
        </div>
      </div>
    </ion-list>
  </ion-content>

  <script id="image-modal.html" type="text/ng-template">
    <div class="modal image-modal transparent" ng-click="closeModal()">
      <ion-pane class="transparent">
        <img ng-src="{{imageSrc}}" class="fullscreen-image" />
      </ion-pane>
    </div>
  </script>
  <div class="button-bar social-login">
    <button class="button button-small button-doanotaFooter ink" ng-click="removeCupons()"> Excluir </button>
    <button class="button button-small button-doanotaFooter ink" ng-click="sendCupomList(header.ongName, header.ongId, header.logo)"> Enviar </button>
  </div>

</ion-view>

