<ion-view view-title="Criar Nova Conta" id="signup">
  <ion-content class="has-header scroll-content-false" style="background-color: #ededed">
    <div class="padding">
      <div class="app-icon"></div>
    </div>
    <div class="padding text-center has-header">
    </div>
    <div class="list padding-right">
      <ion-md-input id="nome" class="item-md-labelDoaNota"
                    placeholder="Nome" highlight-color="energized" type="text"
                    ng-model="signup.nome" ng-init="signup.nome=''"></ion-md-input>
    </div>
    <div class="list padding-right">
      <ion-md-input class="item-md-labelDoaNota"
                    placeholder="Email" highlight-color="energized" type="email"
                    ng-model="signup.email" ng-init="signup.email=''">
      </ion-md-input>
    </div>
    <div class="list padding-right">
      <ion-md-input class="item-md-labelDoaNota"
                    placeholder="Senha" highlight-color="energized" type="password"
                    ng-model="signup.senha" ng-init="signup.senha=''">
      </ion-md-input>
    </div>
    <div class="padding">
      <button ng-click="doCreateUser()" class="button button-block button-doanota ink">Criar Conta</button>
    </div>
  </ion-content>
</ion-view>
