/* Empty. Add your own CSS if you like */
.wrapperDoaNota {
  position: relative;
}


.button {
  text-transform: capitalize;
  font-size: medium;
  font: bold;
}

.wrapperDoaNota p {
  background-color: black;
  bottom: 5%;
  color: white;
  font-family: Roboto;
  font-size: 1.25em;
  left: 0;
  padding: 0.25em 0.75em;
  position: absolute;

}

/* Hero
==================================*/
.heroDoaNota {
  background-size: cover;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: #fff;
  height: 120px;
  position: relative;
  text-align: center;
  -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%; }

.item-md-labelDoaNota {

  background-color: transparent;
  box-shadow: none;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 30px;
  padding-bottom: 0;
  letter-spacing: 0.1px;

}
.item-md-label .input-label {
  position: absolute;
  padding: 5px 0 0;
  z-index: 0;
  -webkit-transform: translate3d(0, -30px, 0) scale(1);
  transform: translate3d(0, -30px, 0) scale(1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #444;
  opacity: 0.5;
  transform-origin: 0;

}
.item-md-label input {
  z-index: 1;
  position: relative;
  bottom: 0;
  color: #555;
  /*Customizado*/
  background-color: transparent;
  border-bottom: 1px solid;
  letter-spacing: 2px;

 }
.item-md-label .highlight {
  position: absolute;

  bottom: 0;
  height: 2px;
  left: 0px;
  width: 93%;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease; }
.item-md-label .highlight-light {
  background: #fff; }
.item-md-label .highlight-stable {
  background: #f8f8f8; }
.item-md-label .highlight-positive {
  background: #387ef5; }
.item-md-label .highlight-calm {
  background: #11c1f3; }
.item-md-label .highlight-balanced {
  background: #33cd5f; }
.item-md-label .highlight-energized {
  background: #ffc900; }
.item-md-label .highlight-assertive {
  background: #ef473a; }
.item-md-label .highlight-royal {
  background: #886aea; }
.item-md-label .highlight-dark {
  background: #444; }
.item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label {
  -webkit-transform: translate3d(0, -50px, 0) scale(0.9);
  /*Customizado*/
  text-transform: capitalize;
  transform: translate3d(0, -50px, 0) scale(0.9);
  opacity: 1; }
.item-md-label input:focus ~ .highlight {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }


.bar.bar-doanota {
  /*border-color: #0c60ee;*/
  height: 50px;
  background-color: #E19C4C; /*roxo*/
  /*background-color: #f1c40f; amarelo meu*/
  /*background-color: #eeee22; /*amarelo oficial*/

  /*background-color: #5f6f81; cinza*/
  /*background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);*/
  color: #fff;
  /*text-shadow: -1px 0 black;*/
  }

.bar.bar-doanota .title {
  color: #fff;
  font: bolder;
}

.button.button-doanota {
  border-color: transparent;
  background-color: #E19C4C;
  color: #fff;
  border-radius: 5px;
  width: 94%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button.button-social {
  font-size: 100%;
  border-radius: 5px;
  width: 94%;

}

.button.button-doanotaFooter {
  border-style: outset;
  background-color: #E19C4C;
  color: #fff;
  border-radius: 12px;
}

.button.button-doaNotaSubheader {

  background-color: #E19C4C;
  color: #fff;
  border-radius: 12px;

}

.button.button-pergunta {
  border-color: transparent;
  background-color: #E19C4C;
  color: #fff;
  border-radius: 12px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
}

.button.button-config {
  border-color: transparent;
  background-color: #E19C4C;
  color: #fff;
  border-radius: 12px;
  width: 94%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.bar.bar-profile {
  background-color: #444;
  height: 170px;
}

.bar .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  /*text-align: center;
  text-overflow: ellipsis;*/
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
  color: white;
}

.profile .name {
  color: #FFFFFF;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.profile-picture {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

.menu .has-header
{
  top: 171px;
}


.itemOu {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

/* General
==================================*/
h1 {
  color: #fff;
  text-shadow: 0 1px 0px #000;
  font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
  border-top: solid 2px #bbb;
  padding-top: 30px;
}

p {
  /*color: #555;*/
  /*font-family: "Helvetica";*/
  font-size: medium;
  font: bold;
  color: #5f6f81;
  /*margin: 0 0 25px;*/
}


.cardDoaNota {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  margin: 8px;
  padding: 0;
  position: relative;
  background-color: #E19C4C;
  color: #fff}
/* Menu
==================================*/
.menu .bar.bar-header.expanded {
  transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
  /*background-color: #222;*/
  background-color: #ededed
}

.menu h2 {
  bottom: 0;
  /*font-size: 18px;*/
  font-size: medium;
  font-weight:bold;
  left: 16px;
  position: absolute;
}

.menu .avatar {
  height: 88px;
  width: 88px;
}

.menu.menu-left * {
  font-weight: bold;
}

.menu-open .ion-navicon {
  transform: rotate(-360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
  content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
  background-color: #fff;
  background: url('../img/pureIconTransparent.png') center;
  background-size: 100%;
  background-repeat: no-repeat;
  /*border-radius: 5%;*/
  height: 90px;
  margin: 0 auto;
  margin-top: 14px;
  width: 219px;
  align: middle
  /*border: 2px solid #E19C4C;*/

}

.social-login {
  position: fixed;
  bottom: 0;
  margin-top: 100%;
  background-color: #E19C4C;
  color: #fff;
}


.smGlobalBtn{ /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border:2px solid #ddd; /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius:27px;
  -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
  font-family: "FontAwesome";
  content: "\f09a"; /* add facebook icon */
  color: #4060A5;
  background: #fff;
  border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
  font-family: "FontAwesome";
  content: "\f099"; /* add twitter icon */
  color: #00ABE3;
  background: #fff;
  border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
  background: #e64522;
  font-family: "FontAwesome";
  content: "\f0d5"; /* add googleplus icon */
  color: #e64522;
  background: #fff;
  border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
  background: #0094BC;
}

.linkedinBtn:before{
  font-family: "FontAwesome";
  content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
  color: #0094BC;
  background: #fff;
  border-color: #0094BC;
}

.popupDoaNota-buttons
  .button {
    border-color: transparent;
    background-color: #E19C4C;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 1px;
  }
  .button.popupDoaNota-buttons:hover {
    color: #fff;
    text-decoration: none; }
 .button.button-positive:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-positive.active, .button.button-positive.activated {
    border-color: #a2a2a2;
    background-color: #e1b525; }
  .button.button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #E19C4C; }
  .button.button-positive.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-positive.button-outline {
    border-color: #E19C4C;
    background: transparent;
    color: #E19C4C; }
  .button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
    background-color: #E19C4C;
    box-shadow: none;
    color: #fff; }




.list .item.item-accordion {
  line-height: 25px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;

}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.text-pre-wrap{
  white-space: pre-wrap !important;
  align: justify
}


/*.toggleDoa {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  margin: -5px;
  padding: 5px; }
.toggleDoa input:checked + .track {
  border-color: #E19C4C;
  background-color: #E19C4C; }
.toggleDoa.dragging .handle {
  background-color: #f2f2f2 !important; }*/


.toggle.toggle-DoaNota input:checked + .track {
  border-color: #E19C4C;
  background-color: #E19C4C; }

.tab-item .iconDoaNota {
  display: block;
  margin: 0;
  height: 47px;
  font-size: 50px; }


#profile-bg {
  position: fixed;
  left: 0;
  top: 44px;
  width: 100%;
  height: 150px;

  /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
  background-size: 100%;
  background-position: 50% 20%;

  text-align: center;
}

#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  padding-top: 200px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.list-item-content {
  padding: 5px;
}

.list-item {
  color: #666666;
}

.post {
  color: #444;
}

.post-time {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
  color: #888;
}

.post-profile-image {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.post-options {
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  color: #888;
}


/*Implementacao do Modal*/
.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.bar-subheaderdoaNota {
  top: 52px;
  display: block;
  height: 52px;
  text-align: center;
}

.bar-avatar {
  /*style="border-radius: 50%; height: 40px;width: 40px;overflow: visible;margin-top: 3px"*/
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: visible;
  margin-top: 3px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-bottom : 16px solid black;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 20%;
  left: 20%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinnerDoaNota{
  width: 25%;
  height: 25%;
  z-index: 10000;
  position: absolute;
  top: 9px;
  left: -10px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  background: white;
  opacity: 0.6;
  stroke: black;
}



.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }

.img-doaNota{
  -webkit-user-drag: none;
  width: 60%;
  height: 60%;
  margin-top: 10px;
}
